{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "ie": 11
        },
        "useBuiltIns": "usage",
        "corejs": {
          "version": 3
        }
      }
    ],
    "@babel/react",
    "@babel/typescript"
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", {"legacy": true}],
    ["@babel/plugin-proposal-class-properties", {"loose":  true}],
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-transform-arrow-functions"
  ]
}