$bgColor: ("dark": #000, "bright": #fff);
$color: ("dark": #fff, "bright": #0e1319);
$thumbBgColor: ("dark": #1f1f1f, "bright": #eddbd9);

@function themeColor($colorType, $theme) {
  @return map-get($colorType, $theme);
}

@mixin webPadding {
  padding: 0 8%;
}

@mixin hidden {
  display: block;
  overflow: hidden;
  width: 0;
  height: 0;
  text-indent: -9999px;
}

@mixin beforeMotion {
  display: none;
  opacity: 0;
}