@import '../../resource/css/mixin/mixin';

.detail {
  $dark: themeColor($color, "dark");
  $bright: themeColor($color, "bright");

  display: none;
  opacity: 0;

  h1 {font-size: 7.25rem !important;}

  .goList {
    > span {@include hidden;}
    > i {
      margin-left: 10px;
      transition: margin-left .3s ease-out;

      &::after {
        display: inline-block;
        content: '\e879';
        font-family: 'Linearicons-Free';
        font-size: 1rem;
        color: $dark;

        body[data-theme="bright"] & {color: $bright;}
      }
    }

    &:hover > i {margin-left: 0;}
  }

  .visual {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10rem;

    > .thumb {
      width: 58%;
    }

    > dl {
      width: 38%;

      ul > li {
        margin-bottom: 3rem;
        &:first-child {margin-top: 0;}

        > dl {
          > dt {
            margin-bottom: 1rem;
            font-size: 1.05rem;
            font-family: 'Montserrat_Medium';
            color: $dark;
            text-transform: uppercase;

            body[data-theme="bright"] & {color: $bright;}
          }
          > dd, > dd > a {
            font-size: 1.05rem;
            color: $dark;
            opacity: 0.7;
            transition: opacity .2s ease-out;

            &:hover {opacity: 1;}

            body[data-theme="bright"] & {color: $bright;}
          }
        }
      }
    }
  }

  .content {
    margin-top: 2rem;

    > h1 {
      font-size: 6rem;
    }
  }

  @media (max-width: 768px) {
    h1 {font-size: 4rem !important;}
  }
}

