@import '../../resource/css/mixin/mixin';

@mixin textShadow {
  $dark: themeColor($color, "dark");
  $bright: themeColor($color, "bright");

  color: themeColor($bgColor, "dark");
  text-shadow: -1px -1px 0 $dark, 1px -1px 0 $dark, -1px 1px 0 $dark, 1px 1px 0 $dark;
  transition: color .2s ease-in;

  &:hover {color: $dark;}

  body[data-theme="bright"] & {
    color: themeColor($bgColor, "bright");
    text-shadow: -1px -1px 0 $bright, 1px -1px 0 $bright, -1px 1px 0 $bright, 1px 1px 0 $bright;

    &:hover {color: $bright;}
  }
}

.next {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 5rem;
  @include textShadow;

  > strong {
    font-family: 'Montserrat_SemiBold', 'NanumSquareB';
    font-size: 7rem;
    letter-spacing: 4px;
    line-height: 1.2;
  }

  /*> i {
    margin-left: auto;

    &::after {
      display: block;
      content: '\e876';
      font-family: 'Linearicons-Free';
      font-size: 6rem;
      @include textShadow;
    }
  }*/
}