@import 'reset';
@import 'font';
@import './mixin/mixin';

body {
    font-family: 'Montserrat', 'NanumSquare', 'NotoSanskr_Regular', 'Gothic', sans-serif;
    color: #333;
    background: #000;
}

:global #root {
    @include webPadding;
}