@import 'reset';
@import 'font';
@import './mixin/mixin';

body {
    font-family: 'Montserrat', 'NanumSquare', 'NotoSanskr_Regular', 'Gothic', sans-serif;
    color: #333;
    background: themeColor($bgColor, "dark");

    :global &.bright {background: themeColor($bgColor, "bright");}
}

:global #root {
    @include webPadding;
}