@import '../../resource/css/mixin/mixin';

.titleBorderBottom {
  border-bottom: 1px solid themeColor($color, "dark");

  body[data-theme="bright"] & {border-bottom-color: themeColor($color, "bright");}

  > dt {
    font-family: 'Montserrat_Medium', 'NanumSquareB';
    font-size: 1.85rem;
    color: themeColor($color, "dark");
    line-height: 1.6;

    body[data-theme="bright"] & {color: themeColor($color, "bright");}
  }
  > dd {
    padding: 4rem 0;
    font-family: 'NotoSanskr_Demilight';
    font-size: 1rem;
    color: themeColor($color, "dark");
    line-height: 1.4;

    body[data-theme="bright"] & {color: themeColor($color, "bright");}
  }
}