@import '../../resource/css/mixin/mixin';

.h1 {
  font-family: 'Montserrat_Bold', 'NanumSquareEB';
  font-size: 8rem;
  color: themeColor($color, "dark");
  letter-spacing: 0.3rem;

  body[data-theme="bright"] & {color: themeColor($color, "bright");}
}