@import '../../resource/css/mixin/mixin';

.thumbnail {
  position: relative;
  width: 100%;
  height: 100%;
  background: themeColor($thumbBgColor, "dark");

  body[data-theme="bright"] & {background: themeColor($thumbBgColor, "bright");}

  > figure {
    position: relative;
    max-width: 55%;
    height: 100%;
    margin: 0 auto;

    > img {
      position: absolute;
      width: 100%;
    }

    &[data-type="left"] {
      > img {
        &:nth-child(1) {left: -15%; bottom: -10%;}
        &:nth-child(2) {@include beforeMotion; left: -5%; bottom: 15%;}
        &:nth-child(3) {@include beforeMotion; left: 10%; bottom: 21%;}
      }
    }

    &[data-type="right"] {
      > img {
        &:nth-child(1) {right: -20%; bottom: -10%;}
        &:nth-child(2) {@include beforeMotion; right: -10%; bottom: 11%;}
        &:nth-child(3) {@include beforeMotion; right: 7%; bottom: 22%;}
      }
    }
  }
}