@import '../../resource/css/mixin/mixin';

.typingArea {
  /*display:none;*/
  position: relative;

  >span.letter {
    font-size: 30px;
    color: themeColor($color, "dark");
    /*opacity:0;*/
    letter-spacing: 1px;

    body[data-theme="bright"] & {background: themeColor($thumbBgColor, "bright");}
  }
  >span.cursor {
    display: block;
    /*opacity: 0;*/
    position: absolute;
    left: 0;
    top: 0;
    width: 2px;
    height: 120%;
    background: themeColor($color, "dark");

    body[data-theme="bright"] & {background: themeColor($thumbBgColor, "bright");}
  }
}