.title {
  display: flex;
  align-items: flex-start;
  margin: 3.5rem 0 6.25rem;

  > p {
    flex: none;
    font-family: 'Montserrat_Medium';
    font-size: 1rem;
    color: #fff;
    letter-spacing: 2px;
  }

  > h1 {
    display: flex;
    justify-content: flex-end;
    width: 90%;
    margin-left: auto;
  }
}