.introduce {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin-bottom: 8rem;

  > dl {
    width: 48%;

    > dd > ul > li {
      display: flex;
      justify-content: flex-start;
      margin-top: 1.25rem;
      color: rgba(255, 255, 255, 0.6);

      &:first-child {margin-top: 0;}

      &::before {
        display: inline-block;
        content: '·';
        margin-right: 7px;
        font-weight: bold;
      }

      strong {
        color: rgba(255, 255, 255, 1);
      }

      body[data-theme="bright"] & {
        color: rgba(51, 51, 51, 0.6);

        strong {
          color: rgba(51, 51, 51, 1);
        }
      }
    }
  }

  @media (max-width: 1080px) {
    display: block;

    > dl {
      width: 100%;
      margin-bottom: 4rem;

      > dd > ul > li {
        font-size: 1.25rem;
        line-height: 2;
      }
    }
  }
}